<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body id="mimin" class="dashboard">
			
			
			<div th:fragment="script">
			

		
		<script src="resources/static/js/jquery.min.js"
			th:src="@{/js/jquery.min.js}" th:inline="javascript" ></script>
			
			
								<script src="resources/static/js/bootstrap.js"
			th:src="@{/js/bootstrap.js}" th:inline="javascript" ></script>
					
			<script src="resources/static/js/bootstrap-select.js"
			th:src="@{/js/bootstrap-select.js}" th:inline="javascript" ></script>
			
									<script src="resources/static/js/jquery.slimscroll.js"
			th:src="@{/js/jquery.slimscroll.js}" th:inline="javascript" ></script>
			
															<script src="resources/static/js/jquery.validate.js"
			th:src="@{/js/jquery.validate.js}" th:inline="javascript" ></script>
			
															<script src="resources/static/js/jquery.steps.js"
			th:src="@{/js/jquery.steps.js}" th:inline="javascript" ></script>
			
			
															<script src="resources/static/js/sweetalert.min.js"
			th:src="@{/js/sweetalert.min.js}" th:inline="javascript" ></script>
			
			
			
			
			
			
					
<!-- 						<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" -->
<!-- 			th:src="@{https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js}" th:inline="javascript" ></script> -->
			


			
<!-- 							<script src="resources/static/js/jquery.sparkline.js" -->
<!-- 			th:src="@{/js/jquery.sparkline.js}" th:inline="javascript" ></script> -->
			
										<script src="resources/static/js/waves.js"
			th:src="@{/js/waves.js}" th:inline="javascript" ></script>	
			
			
												<script src="resources/static/js/jquery.dataTables.js"
			th:src="@{/js/jquery.dataTables.js}" th:inline="javascript" ></script>	
			
												<script src="resources/static/js/dataTables.bootstrap.js"
			th:src="@{/js/dataTables.bootstrap.js}" th:inline="javascript" ></script>	
			
															<script src="resources/static/js/jquery-datatable.js"
			th:src="@{/js/jquery-datatable.js}" th:inline="javascript" ></script>
			
			
			
													<script src="resources/static/js/jquery.countTo.js"
			th:src="@{/js/jquery.countTo.js}" th:inline="javascript" ></script>
			
																	<script src="resources/static/js/raphael.min.js"
			th:src="@{/js/raphael.min.js}" th:inline="javascript" ></script>
			
							<script src="resources/static/js/morris.js"
			th:src="@{/js/morris.js}" th:inline="javascript" ></script>
			
<!-- 						<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js" -->
<!-- 			th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js}" th:inline="javascript" ></script> -->
			
			
<!-- 								<script src="resources/static/js/Chart.bundle.js" -->
<!-- 			th:src="@{/js/Chart.bundle.js}" type="text/javascript" ></script> -->
			
<!-- 							<script src="resources/static/js/jquery.flot.js" -->
<!-- 			th:src="@{/js/jquery.flot.js}" type="text/javascript" ></script> -->
			
<!-- 										<script src="resources/static/js/jquery.flot.resize.js" -->
<!-- 			th:src="@{/js/jquery.flot.resize.js}" type="text/javascript" ></script> -->
			
<!-- 										<script src="resources/static/js/jquery.flot.pie.js" -->
<!-- 			th:src="@{/js/jquery.flot.pie.js}" type="text/javascript" ></script> -->
			
<!-- 										<script src="resources/static/js/jquery.flot.categories.js" -->
<!-- 			th:src="@{/js/jquery.flot.categories.js}" type="text/javascript" ></script> -->
			
<!-- 										<script src="resources/static/js/jquery.flot.time.js" -->
<!-- 			th:src="@{/js/jquery.flot.time.js}" type="text/javascript" ></script> -->
			
			

			
			
			
			
			
			
			
			
									<script src="resources/static/js/animations.js"
			th:src="@{/js/animations.js}" th:inline="javascript" ></script>
			
									
<!-- 								<script src="resources/static/js/basic-form-elements.js" -->
<!-- 			th:src="@{/js/basic-form-elements.js}" th:inline="javascript" ></script> -->
			
									

			
			
<!-- 									<script src="resources/static/js/index.js" -->
<!-- 			th:src="@{/js/index.js}" th:inline="javascript" ></script> -->

						<script src="resources/static/js/admin.js"
			th:src="@{/js/admin.js}" th:inline="javascript" ></script>
			
											<script src="resources/static/js/form-wizard.js"
			th:src="@{/js/form-wizard.js}" th:inline="javascript" ></script>
			
									
									

			
									<script src="resources/static/js/demo.js"
			th:src="@{/js/demo.js}" th:inline="javascript" ></script>
			
			
									<script src="resources/static/js/index.js"
			th:src="@{/js/index.js}" th:inline="javascript" ></script>
			
<!-- 						<script src="resources/static/js/jquery.slimscroll.min.js" -->
<!-- 			th:src="@{/js/jquery.slimscroll.min.js}" th:inline="javascript" ></script> -->
	
			
<!-- 						<script src="resources/static/js/fastclick.js" -->
<!-- 			th:src="@{/js/fastclick.js}" th:inline="javascript" ></script> -->
			
			
<!-- 		<script src="resources/static/js/app.min.js" -->
<!-- 		 th:src="@{/js/app.min.js}"  th:inline="javascript"></script> -->


<!-- 								<script src="resources/static/js/dashboard.js" -->
<!-- 			th:src="@{/js/dashboard.js}" th:inline="javascript" ></script> -->

<!-- 				<script src="resources/static/js/demo.js" -->
<!-- 			th:src="@{/js/demo.js}"></script> -->
				

    



		 




     	
  
  
	</div>
			
			

</body>



</html>

