<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	

	
	</head>
		
		<title>Perfil</title>

			<body  class="hold-transition skin-blue sidebar-mini">
			
			<div class="wrapper">

	   			  <nav th:replace="fragmentos/top-nav :: nav">
				
				</nav>
				
					<div th:replace="fragmentos/nav :: nav-side"> </div>
				
		  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Comissao
        <small>Comissao de Usuario</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Usuario</a></li>
        <li class="active">Comissao</li>
      </ol>
    </section>
	
  <section class="content">
  
         			
	</section>
				
				
	</div>
				
				
	<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
				
</div>
				
</body>

</html>
