<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	

	
	</head>
		
		<title>Home</title>

			<body  class="theme-red">
			
			    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Aguarde...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING..." />
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>

	   			  <nav th:replace="fragmentos/top-nav :: top-nav">
				
				</nav>
				
					<div th:replace="fragmentos/nav :: nav-side"> </div>

    <!-- Main content -->
    <section class="content">
    
            <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>
            
            <div class="row clearfix">
            
            <div sec:authorize="hasRole('ROLE_ADM')">
            
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">NOVOS CLIENTES</div>
                            <div class="number count-to" data-from="0" data-to="257" th:attr="data-to=${#lists.size(clientes)}" data-speed="15" data-fresh-interval="20"></div>
<!--                        		 <div class="number" th:utext="${#lists.size(clientes)}">15</div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="content">
                            <div class="text">NOVOS USUARIO</div>
                            <div class="number count-to" data-from="0" data-to="257" th:attr="data-to=${#lists.size(usuarios)}" data-speed="1000" data-fresh-interval="20"></div>
<!-- 						 <div class="number" th:utext="${#lists.size(usuarios)}">15</div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text">NOVOS PREMIOS</div>
                            <div class="number count-to" data-from="0" data-to="243"  th:attr="data-to=${#lists.size(premios)}" data-speed="1000" data-fresh-interval="20"></div>
<!--  							<div class="number" th:utext="${#lists.size(premios)}">15</div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="content">
                            <div class="text"> RESGATADOS</div>
                            <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                
                

              </div>  
                
            </div>

            

        </div>
    </section>
        
 



	<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
	
	    		
		

	    
	    
</body>
			
			
</html>

