<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	
	
	</head>
		
		<title>Cadastro Usuario</title>

		<body  class="theme-red">
				    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Aguarde...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING..." />
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
			

	   			  <nav th:replace="fragmentos/top-nav :: top-nav">
				
				</nav>
				
					<div th:replace="fragmentos/nav :: nav-side"> </div>
					
					
    
    
		<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    USUARIOS
<!--                     <small>Taken from <a href="https://datatables.net/" target="_blank">datatables.net</a></small> -->
                </h2>
            </div>
            <!-- Basic Examples -->
            <div class="row clearfix">
            
            			 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			 <div class="card">
			  <div class="header">
                            <h2>
                                foto USUARIO
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
<!--                                         <li><a th:href="@{/usuario/cadastro}">Add</a></li> -->
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
<!-- 			<div class="col-md-4" style="margin:5px;"> -->
			
			<form th:action="@{/usuario/salvarfotousuario}" th:object="${usuario}" ModelAttribute="usuario"  enctype="multipart/form-data"  method="post">
			
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username" th:text="${usuario.email}">Thanh Nguyen</h3>
              <h5 class="widget-user-desc"  th:text="${usuario.roles}">Founder &amp; CEO</h5>
            </div>
            
<!--             <div class="widget-user-image" th:if="${filename}"> -->
<!--               <img class="img-circle" th:src="@{/img/usuario/{fotoc}(fotoc=${filename})}" alt="User Avatar file if"/> -->
<!--             </div> -->
            
<!--                         <div class="widget-user-image" th:unless="${filename}"> -->
<!--               <img class="img-circle" th:src="@{/img/avatar2.png}" alt="User Avatar file unless"/> -->
<!--             </div> -->
            
            
            
                       <div class="widget-user-image" th:if="${usuario.foto}">
              <img class="img-circle" th:src="@{/img/usuario/{fotoc}(fotoc=${usuario.foto})}" alt="User Avatar usu if"/>
            </div>
            
                                   <div class="widget-user-image" th:unless="${usuario.foto}">
              <img class="img-circle" th:src="@{/img/usuario/{fotoc}(fotoc=${filename})}" alt="User Avatar usu unless" />
            </div>
            
            
            <div class="box-footer">
              <div class="row">
<!--                 <div class="col-sm-4 border-right"> -->
<!--                   <div class="description-block"> -->
<!--                     <h5 class="description-header">3,200</h5> -->
<!--                     <span class="description-text">SALES</span> -->
<!--                   </div> -->
<!--                   /.description-block -->
<!--                 </div> -->
                <!-- /.col -->
<!--                 <div class="col-sm-4 border-right"> -->
<!--                   <div class="description-block"> -->
<!--                     <h5 class="description-header">13,000</h5> -->
<!--                     <span class="description-text">FOLLOWERS</span> -->
<!--                   </div> -->
<!--                   /.description-block -->
<!--                 </div> -->
                <!-- /.col -->
                <div class="col-sm-12">
                  <div class="description-block">
                  
                 <div class="form-group">
                  <label for="file">File input</label>
                  <input type="text" readonly="" class="form-control" th:value="${filename}" th:placeholder="${filename}" />
                  <input type="file" id="file" multiple="multiple" name="file" />

                  <p class="help-block">Example block-level help text here.</p>
                </div>
                   
                    <h5 class="description-header">
                    <button type="submit" class="btn btn-block btn-primary btn-sm">Add foto
                    	<div class="ripple-container"></div>
                    </button>
                    
                    </h5>
                    
                    <span class="description-text"><i class="fa fa-photo"></i></span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
          
          </form>
<!--         </div> -->
        </div>
        </div>
<!-- 			</div> -->
			</div>
			
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                CADASTRO USUARIO
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
<!--                                         <li><a th:href="@{/usuario/cadastro}">Add</a></li> -->
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
		 
			 
				 <form th:action="@{/usuario/add}" th:object="${usuario}" ModelAttribute="usuario" method="POST">


			         <div class="form-group">
			         		
			         		    <div class="checkbox">
                                  
                                  
                                  <label>
                                  <input id="ativo" name="optionsCheckboxes" class="checkbox" type="checkbox" th:checked="${usuario.ativo}"/>
                                  Ativo</label>
                                </div>
			     
									
								
			            </div>
			            
			            <div class="form-group label-floating ">
                             <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </div>
							
										<input id="nome" name="nome" class="form-control android" type="text"  th:value="${usuario.nome}" placeholder="Digite o Nome" />
							
			                </div>
			              </div>
<!-- 			            </div> -->
			                
			              
			               
			              
<!-- 			               <div class="form-group"> -->
<!-- 			                <label class="control-label">CPF</label> -->
<!-- 			                <div class="controls"> -->
<!-- 										<input id="cpf" name="cpf" class="form-control android" type="text"   th:value="${usuario.cpf}" placeholder="Digite o Cpf"/> -->

<!-- 			                </div> -->
<!-- 			              </div>   -->
			              
<!-- 			 <div class="form-group"> -->
			     
<!-- 				 <select id="genero" name="genero" multiple="" class="form-control"> -->
<!-- 				                                  <optgroup label="Escolha seu Genero"> -->
					           				
<!-- 					           					<option th:text="${usuario.genero}" th:selected="${usuario.genero != null}" class="selected">Usuario Não Tem Nenhuma Regra</option> -->
					           				
					           				
					           			
<!-- 					           				<option th:each="genero : ${generos}" th:value="${genero}" > -->
					           				
<!-- 					           				<span th:text="${genero}" >Nenhum Genero Cadastrado </span> -->
					           				
<!-- 					           				</option> -->
					           				      				
					           				
<!-- 					                </optgroup> -->
<!-- 				                    </select>			 -->
						
<!-- 			              </div>   -->
			              
<!-- 			             <div class="form-group"> -->
                          
<!--                                 <label >Data Nascimento</label> -->
<!--                                 <div class="controls"> -->
<!--                                     <input id="datanascimento" class="form-control android" name="datanascimento" type="text" th:value="${usuario.datanascimento}" -->
<!--                                           />  -->
<!--                                 </div> -->
<!--                             </div> -->
                         
                            
<!--                       <div class="form-group"> -->
<!--                                 <label >Telefone</label> -->
<!--                                 <div class="controls"> -->
<!--                                     <input id="telefone" class="form-control android" name="telefone" type="text" th:value="${usuario.telefone}" -->
<!--                                            placeholder="" /> -->
<!--                                 </div> -->
<!--                             </div> -->

			
<div class="form-group label-floating ">
                             <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </div>
							
										<input id="email" name="email" class="form-control android" type="text"  th:value="${usuario.email}" placeholder="Digite o Email" />
							
			                </div>
			              </div>
			
<div class="form-group label-floating ">
                             <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </div>
			               
										<input id="senha" name="senha" class="form-control android" type="password"  th:value="${usuario.senha}" placeholder="Digite a Senha"/>				
			              </div>
			              
			              </div>
			
			
<div class="form-group label-floating ">
                             <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-photo"></i>
                  </div>
							
										<input id="foto" name="foto" class="form-control android" type="text"  th:value="${filename}" placeholder="Digite a foto" />
							
			                </div>
			              </div>

			
			
			<div class="form-group label-floating ">
                             <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user-secret"></i>
                  </div>
				 <select id="roles" name="roles" multiple="multiple" class="form-control">
				                                  <optgroup label="Tipos de Permissoes do usuario">
					           				
					           					<option th:text="${usuario.roles}" th:selected="${usuario.roles != null}" class="selected">Usuario Não Tem Nenhuma Regra</option>
					           				
					           				
					           			
					           				<option th:each="role : ${roles}" th:value="${role.id}" >
					           				
					           				<span th:text="${role.name}" >Nenhuma Regra Cadastrada </span>
					           				
					           				</option>
					           				      				
					           				
					                </optgroup>
				                    </select>			
							
			                </div>
			              </div>
			        
				
			           
					 	 
			                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
		
				 	 
						
							<button type="submit"  th:value="${acao}" class="btn btn-success">Salvar</button>
							<a href='javascript:history.back(1)' class="btn btn-default">Voltar</a>
						
						</form>
						
<!-- 						</div> -->
                       


				
				
<!-- 				<div th:replace="fragmentos/footer :: script" style="display:none;"></div> -->

	
			
			</div>
			
<!-- 			</div> -->

</div>
			
<!-- 			</div> -->
			
			
	
			
			
<!-- 			</div> -->
			
<!-- 			<div class="row clearfix"> -->

			
			
			</div>
			</div>
			</div>
		
						
			<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
			</section>
			
		
			
			</body>
			
				
	

</html>
