<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	
	
	</head>
		
		<title>Cadastro Sorteio</title>

		<body  class="theme-red">
				    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Aguarde...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING..." />
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
			

	   			  <nav th:replace="fragmentos/top-nav :: top-nav">
				
				</nav>
				
					<div th:replace="fragmentos/nav :: nav-side"> </div>
					
					
    
    
		<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    Sorteio
<!--                     <small>Taken from <a href="https://datatables.net/" target="_blank">datatables.net</a></small> -->
                </h2>
            </div>
            <!-- Basic Examples -->
            <div class="row clearfix">
            
                 
            			 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			 <div class="card">
			  <div class="header">
                            <h2>
                                Dados Sorteio
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
<!--                                         <li><a th:href="@{/usuario/cadastro}">Add</a></li> -->
                                        <li><a th:href="@{/sorteio/GerarMultiplos}">Gerar Multiplos</a></li>
                                        <li><a th:href="@{/sorteio/sorteio}">Sorteio</a></li>
                                         <li><a th:href="@{/sorteio/sorteiar}">Sorteiar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
		 
			 
				 <form th:action="@{/sorteio/add}" ModelAttribute="sorteio" method="POST">


			         <div class="form-group">
			         		
			         		    <div class="checkbox">
    
                                  <input id="basic_checkbox_1" name="ativo" class="checkbox"  type="checkbox" th:checked="${sorteio.ativo}"/>
                                 <label for="basic_checkbox_1">Ativo</label>
                                </div>
                                
                                			         		    <div class="checkbox">
                                  
                                  
                                
                                  <input id="basic_checkbox_2" name="valido" class="checkbox"  type="checkbox" th:checked="${sorteio.valido}"/>
                                 <label for="basic_checkbox_2">Valido</label>
                                </div>
                                
                                
                                			         		    <div class="checkbox">
                                  
                                  
                                 
                                  <input id="basic_checkbox_3" name="resgatado" class="checkbox"  type="checkbox" th:checked="${sorteio.resgatado}"/>
                                   <label for="basic_checkbox_3">Resgatado</label>
                                </div>
			     
									
								
			            </div>


			
<div class="form-group label-floating ">
                             <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </div>
							
										<input id="data" name="data" class="form-control android" type="text"  th:value="${sorteio.data}" placeholder="Digite o data" />
							
			                </div>
			              </div>
			
<div class="form-group label-floating ">
                             <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </div>
			               
										<input id="cliente" name="cliente" class="form-control android" type="text"  th:value="${sorteio.cliente}" placeholder="Digite a cliente"/>				
			              </div>
			              
			              </div>
			
			
<div class="form-group label-floating ">
                             <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-photo"></i>
                  </div>
							
										<input id="premio" name="premio" class="form-control android" type="text"  th:value="${sorteio.premio}" placeholder="Digite a premio" />
							
			                </div>
			              </div>
			              
<!-- 			              			<div class="form-group label-floating "> -->
<!--                              <div class="input-group"> -->
<!--                   <div class="input-group-addon"> -->
<!--                     <i class="fa fa-user-secret"></i> -->
<!--                   </div> -->
<!-- 				 <select id="produto" name="produto"  class="form-control"> -->
<!-- 				                                  <optgroup label="escolha produtos"> -->
					           				
<!-- 					           					<option th:text="${sorteio.produto}" th:selected="${sorteio.produto != null}" class="selected">Usuario Não Tem Nenhuma Regra</option> -->
					           				
					           				
					           			
<!-- 					           				<option th:each="produto : ${produtos}" th:value="${produto.id}" > -->
					           				
<!-- 					           				<span th:text="${produto.nome}" >Nenhuma produto Cadastrada </span> -->
					           				
<!-- 					           				</option> -->
					           				      				
					           				
<!-- 					                </optgroup> -->
<!-- 				                    </select>			 -->
							
<!-- 			                </div> -->
<!-- 			              </div> -->

			
			        
				
			           
					 	 
			                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
		
				 	 
						
							<button type="submit" class="btn btn-success">Salvar</button>
							<a href='javascript:history.back(1)' class="btn btn-default">Voltar</a>
						
						</form>
						
<!-- 						</div> -->
                       


				
				
				<div th:replace="fragmentos/footer :: script" style="display:none;"></div>


			
			
			</div>
			
<!-- 			</div> -->
			
			</div>
			
			
	
			
			
			</div>
			
			
			
			
			</div>
			</div>
			
			</section>
			
			
			</body>
			
				
	

</html>
